#other-activities
{   
      background-color: white;
      width: 800px;
      margin: auto; 
	margin-bottom: 50px;
	font-family: calibri;
}

.p-col
{
	margin: auto;
}

#other-activities-sgdf-logo
{
	text-align: center;
}