<div class="p-grid">
      <img class="p-col" src="../../../assets/images/0.jpg" alt="Théophane Girard">
      <div class="p-col-6">
            <a href="https://www.linkedin.com/in/girardtheophane/" target="_blank">
                  <img class="socials-logo" src="../../../assets/images/logos/in transp.png" alt="Linkedin">
            </a>
      </div>
      <div class="p-col-6">
            <a href="https://github.com/theophane-girard" target="_blank">
                  <img class="socials-logo" src="../../../assets/images/logos/git.png" alt="Linkedin">
            </a>
      </div>
</div>