<div class="p-grid">
      <img class="p-col" src="../../../assets/images/0.jpg" alt="Théophane Girard">
      <!-- <div class="p-col">                        
            <img src="../../../assets/images/0.jpg" alt="Théophane Girard">
      </div> -->
      <div class="p-col-6">
            <img class="socials-logo" src="../../../assets/images/logos/in transp.png" alt="Linkedin">
      </div>
      <div class="p-col-6">
            <img class="socials-logo" src="../../../assets/images/logos/git.png" alt="Linkedin">
      </div>                  
</div>