<div id="contact" class="p-grid">
      <div class="p-col">
            <app-socials></app-socials>
      </div>
      <div id="contact-information" class="p-col-8">
            <div class="p-grid">
                  <div class="p-col-12" id="contact-bubble">
                        <p>Bonjour !</p>      
                  </div>
                  <div class="p-col-6">
                        <img class="contact-logo" src="../../../assets/images/logos/gateau.svg" alt="Age">
                        24 ans
                  </div>
                  <div class="p-col-6">
                        <img class="contact-logo" src="../../../assets/images/logos/email.svg" alt="Age">
                        girard.theophane@gmail.com
                  </div>
                  <div class="p-col-6">
                        <img class="contact-logo" src="../../../assets/images/logos/adresse.svg" alt="Age">
                        11 rue coupefer, Toulouse
                  </div>
                  <div class="p-col-6">
                        <img class="contact-logo" src="../../../assets/images/logos/tel.svg" alt="Age">
                        06 69 10 82 27
                  </div>
            </div>
      </div>
      
</div>
