#contact
{   
      background-color: white;
      width: 800px;
      margin: auto; 
	margin-top: -9%;
}

#contact-bubble {
	position: relative;
      background-color: #00558e;
	color:white;
	padding: 1px 1px 1px 1px;
	margin-right: 280px;
	text-align: center;
	font-family: calibri;
	font-size: 28px;
	width: 300px;
	margin-bottom: 30px;
}

#contact-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 39px solid transparent;
	border-right-color: #00558e;
	border-left: 0;
	border-bottom: 0;
	margin-top: -19.5px;
	margin-left: -39px;
}

// #contact-bubble p 
// {
// 	overflow: hidden; /* Ensures the content is not revealed until the animation */
// 	border-right: .15em solid orange; /* The typwriter cursor */
// 	white-space: nowrap; /* Keeps the content on a single line */
// 	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
// 	letter-spacing: .15em; /* Adjust as needed */
// 	animation: 
// 	  typing 3.5s steps(40, end),
// 	  blink-caret .75s step-end infinite;
//     }
    
//     /* The typing effect */
//     @keyframes typing {
// 	from { width: 0 }
// 	to { width: 100% }
//     }
    
//     /* The typewriter cursor effect */
//     @keyframes blink-caret {
// 	from, to { border-color: transparent }
// 	50% { border-color: white; }
// }

p
{
	margin-top: 11px;
    	margin-bottom: 11px;
}

.p-col-6
{
	font-family: calibri;
	font-size: 16px;
	font-weight: 500;
}

.contact-logo
{
	width: 50px;
}

#contact-information
{
	margin-top: 10px;
}

.contact-details
{
	margin: auto;
}