<div id="contact" class="p-grid">
      <div class="p-col">
            <app-socials></app-socials>
      </div>
      <div id="contact-information" class="p-col-8">
            <div class="p-grid">
                  <div class="p-col-12" id="contact-bubble">
                        <p>Bonjour !</p>
                  </div>
                  <br class="p-col-12">
                  <div class="p-col-5">
                        <div class="p-grid">
                              <div class="p-col-4">
                                    <img class="contact-logo" src="../../../assets/images/logos/gateau.svg" alt="Age">
                              </div>
                              <div class="p-col contact-details">{{ age }} ans</div>
                        </div>
                  </div>
                  <div class="p-col-7">
                        <div class="p-grid">
                              <div class="p-col-4">
                                    <img class="contact-logo" src="../../../assets/images/logos/email.svg" alt="Age">
                              </div>

                              <div class="p-col contact-details">girard.theophane@gmail.com</div>
                        </div>
                  </div>
                  <div class="p-col-5">
                        <div class="p-grid">
                              <div class="p-col-4">
                                    <img class="contact-logo" src="../../../assets/images/logos/adresse.svg" alt="Age">
                              </div>
                                    
                              <div class="p-col contact-details">rue coupefer, Toulouse</div>
                        </div>
                  </div>
                  <div class="p-col-7">
                        <div class="p-grid">
                              <div class="p-col-4">
                                    <img class="contact-logo" src="../../../assets/images/logos/tel.svg" alt="Age">
                              </div>
                              <div class="p-col contact-details">06 69 10 82 27</div>
                        </div>
                  </div>
            </div>
      </div>
      
</div>
