<div id="skills" class="p-grid">
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/csharp.png" alt="c#">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/html.png" alt="c#">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/docker.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/ionice.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/java.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/jquery.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/mysql.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/ng.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/ngjs.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/node.png" alt=""></div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/pgsql.png" alt=""></div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/php.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/symfony.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/talend.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/css.png" alt="">
	</div>

</div>

