<div id="skills" class="p-grid">
	<!-- <div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/csharp.png" alt="c#">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/html.png" alt="c#">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/docker.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/ionice.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/java.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/jquery.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/mysql.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/ng.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/ngjs.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/node.png" alt=""></div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/pgsql.png" alt=""></div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/php.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/symfony.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/talend.png" alt="">
	</div>
	<div class="p-col">
		<img class="skills-logo" src="../../../assets/images/logos/200/css.png" alt="">
	</div> -->
	<div class="row">
		<div class="column">

			<img class="skills-logo" src="../../../assets/images/logos/200/ngjs.png" alt="">
			<img class="skills-logo" src="../../../assets/images/logos/200/ng.png" alt="">
			

			<img class="skills-logo" src="../../../assets/images/logos/200/csharp.png" alt="c#">

		</div>
		<div class="column">
			<img class="skills-logo" src="../../../assets/images/logos/200/ionic.png" alt="">


			<img class="skills-logo" src="../../../assets/images/logos/200/java.png" alt="">


			<img class="skills-logo" src="../../../assets/images/logos/200/jquery.png" alt="">
		</div>
		<div class="column">
			<img class="skills-logo" src="../../../assets/images/logos/200/talend.png" alt="">
			<img class="skills-logo" src="../../../assets/images/logos/200/html.png" alt="c#">			

			<img class="skills-logo" src="../../../assets/images/logos/200/css.png" alt="">



		</div>

	</div>
	<div class="row">
		<div class="column">

			<img class="skills-logo" src="../../../assets/images/logos/200/node.png" alt="">

			<img class="skills-logo" src="../../../assets/images/logos/200/pgsql.png" alt="">

			<img class="skills-logo" src="../../../assets/images/logos/200/mysql.png" alt="">
		</div>
		<div class="column">

			<img class="skills-logo" src="../../../assets/images/logos/200/symfony.png" alt="">

			<img class="skills-logo" src="../../../assets/images/logos/200/php.png" alt="">
			

			<img class="skills-logo" src="../../../assets/images/logos/200/docker.png" alt="">
			
		</div>
	</div>
</div>