<div id="timeline" class="p-grid">
    <section>
        <div class="container">
            <div class="timeline-item">
                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <h2>Title</h2>
                    <div class="date">1 MAY 2016</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias
                        cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi
                        amet in dolores. Alias, ullam.</p>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInRight">
                    <h2>Title</h2>
                    <div class="date">22 JUN 2016</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias
                        cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi
                        amet in dolores. Alias, ullam.</p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">

                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <div class="date">3 JUN 2016</div>
                    <h2>Quote</h2>
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis
                        dolor iste fugit totam quasi inventore!</blockquote>
                </div>
            </div>
        </div>
    </section>
</div>