<div id="timeline" class="p-grid">
    <section>
        <div class="container">
            <div *ngFor="let event of timelineData" class="timeline-item">
                <div class="timeline-img"></div>

                <div class="timeline-content js--fadeInLeft">
                    <h2>{{ event.pro.title }}</h2>
                    <div class="date">{{ event.date }}</div>
                    <h3>{{ event.pro.companies[0].name }}</h3>
                    <p>                    
                        {{ event.pro.description }}
                    </p>

                    <h2 *ngIf="event.education">{{ event.education.title }}</h2>                    
                    <!-- <h3>{{ event.pro.companies[0].name }}</h3> -->
                    <p *ngIf="event.education">
                        {{ event.education.description }}
                    </p>
                    
                </div>
            </div>
        </div>
    </section>
</div>