#toolbar
{
      background-color: rgb(0, 85, 142);
      color: white;
      font-family: Arial,sans-serif;
      padding: 1px 0 11% 10%;       
}

#toolbar-name
{
      font-size: 40px;
}

#toolbar-description
{
      font-family: calibri;
}