/* You can add global styles to this file, and also import other style files */
body
{
      margin: 0;
      background-color: rgb(231, 230, 230);
}

#contact .p-col
{
      padding: 0px 0px 0px 0px;
}